header {
	background-color: #00a4e4;
	border-style: solid;
    border-color: #00a4e4;
	color: white;
	text-align: center;
	margin-bottom: 50px;
}

h1 {
	font-weight: 100;
}

h2 {
	font-size: 120%;
	font-weight: 100;
}

body {
	margin: auto;
	margin-bottom: 100px;
	font-family: 'Century Gothic', Sans-serif;
}

.container {
	margin: auto;
	width: 70%
}

#userinfo img {
	width: 150px;
	height: 100px;
	border: 1px solid #000;
}

#userinfo {
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 50px solid transparent;
	float: left;
}

.tweets, .newtweets, .history { 
	display: table-row;
}

.history {
	color: blue;
}

#name {
	margin: 20px 0 0 0;
}

#username {
	font-size: smaller;
	margin: 0;
	color: #8D8E8F;
}